<h1>Create New Job</h1>

<% current_user %>
<%= render 'shared/error_messages_job' %>
<div class="row">
  <div class="span6 offset3">
	<%= form_for(@job) do |f| %>
	  
		<%= f.label :name %>
		<%= f.text_field :name %>
		<br>
		
		<% @department_list = Employee.scoped(:conditions => ["user_id == #{current_user.id}"]) %><br>
		
		<%= f.label :department_id, "Select Department" %>
		<%= f.select(:department_id, @department_list.collect {|p| [ p.name.upcase, p.department_id] }, {prompt: '-Select Department'}, {:style => "width:400px; height:40px;"}) %>
		<br>
		
		<%= f.label :in_hospital %>
		<%= f.select(:in_hospital, [["Yes", true], ["No", false]], {prompt: '-In Hospital'}, {:style => "width:150px; height:40px;"}) %>
		
		<%= f.submit "Update Job", class: "btn btn-large btn-primary" %>
	  
	<% end %>
  </div>
</div>