<h1>Manage Jobs</h1>
<% current_user %>
<h4><font size="3">Listing of Jobs in <font color="blue"><%= session[:dept_name] %></font></font></h4><br>
<% getJob session[:dept_name] %>

  <% for record in @jobRecords do %>
	<% record.id %>

    <% @jobRecord = Job.find_by_id(record.id) %>

    <%  %>

    <p1><b>Job Name: </b><%= record.name.upcase %></p1>

	<%= form_for record do |f| %>
      <%= f.hidden_field 'my_variable', :value => record.id %>


	      <% link_to "Delete", record, method: :delete, class: "btn btn-large btn-secondary", confirm: "You Sure?" %>


          <% submit_tag "Edit Job", :name => "Update Job", class: "btn btn-large btn-secondary" %>
		  
	<div class="buttonLayoutPool">
      <div class="userPool1">
	      <%= link_to "Delete", record, method: :delete, class: "btn btn-large btn-secondary", confirm: "You Sure?" %>
	  </div>
	  
      <div class="userPool2">
          <%= submit_tag "Edit Job", :name => "Update Job", class: "btn btn-large btn-secondary" %>
	  </div>
	</div>



    <% end %>


    <%  %>
	<%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
  <% end %>


<%= link_to "Create New Job", newjob_path, :method => "get", class: "btn btn-large btn-primary" %>
<%= link_to "Manage Pools", showpool_path, :method => "get", class: "btn btn-large btn-primary" %>
<%= link_to "Manage Jobpools", showjobpool_path, :method => "get", class: "btn btn-large btn-primary" %>

<%  %>
<%  %>
<%  %>
<%  %>
<%  %>

