<h1>Manage Restrictions</h1>
<% current_user %>
<% checkUpload @current_user %>
<% getUserRestriction @current_user %>

<% if @restriction_msgs != nil %>
  <p><%= @restriction_msgs %></p>
<% else %><h4>
  <% @current_restriction %>
  <% n = 1 %>
  <% for record in @current_restriction do %>
	<% record.id %>

    <% @restriction = Restriction.find_by_id(record.id) %>
	<% array = Array.new(100) %>
    <% array[0] = "Space Taker" %>
	<% array[n] = record %>
    <%  %>

    <h4>Restriction <%= n %>: </h4><p1>Reason - Vacation, Start at - <%= record.begin_time %>, End at - <%= record.end_time %></p1>
	<%= form_for record do |f| %>
      <%= f.hidden_field 'my_variable', :value => record.id %>

      <%= submit_tag "Edit Restriction", :name => "Update Restriction", class: "btn btn-large btn-secondary" %>

    <% end %><div><br><br>
	<%  %>
    <%  %>
	<%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <% n = n + 1 %>
  <% end %>
  <% session[:restriction] = array %>
<% end %><br>

<%= button_to "New Restriction", newrestriction_path, :method => "get", class: "btn btn-large btn-primary" %>
<% if @uploadSkip %>
  <%= button_to "Upload Files", createschedule_path, :method => "get", class: "btn btn-large btn-primary" %>
<% else %>
  <%= button_to "Upload Files", edit_allfile_path(:id), :method => "get", class: "btn btn-large btn-primary" %>
<% end %>
<%  %>
<%  %>
<%  %>
<%  %>
<%  %>

