<% provide(:title, 'Create Department') %>
<h1>Find A Department</h1>
<% current_user %>
<%if @employee %>
<%= render 'shared/error_messages_employee' %>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag('/joindept', method: "get") do %>
	  <%= label_tag(:name, "Search for:") %>
	  <%= text_field_tag(:name) %>
	  
	  <%= label_tag(:all, "List All Departments") %>
	  <%= check_box_tag(:all, 'yes', false) %>
	  <p></p>
	  <%= submit_tag("Search") %>
	<% end %>
  </div>
</div>