<% provide(:title, "Edit file") %>
<% require "rubygems" %>
<% require "json" %>
<% current_user %>
<h1>Create Schedule</h1>
<% schedule_file_2 = getFile @allfile.master_loadform %>

<div class="viewSchedule">
  <body>
    <h1>

	  <%= image_tag("Schedule.jpg", size: "200x200", alt: "Calender") %>
	  <% @allfile = Allfile.find((session[:user_file]).id) %>

    </h1>
	
	<p>
	    <h4>Current Master Load Form File:</h4>
		<%= sanitize_filename schedule_file_2.to_s %>
		<br><br>
		<h4>File Description:</h4>
		<%= @allfile.name %>

	</p>
  </body>
</div>

<% if @current_user.admin == true %>
<div class="buttonLayoutGenerateHome">

    <div class="generateScheduleButton_1">
	  <%= button_to "Generate Schedule", schedule_path, :method => "get", data: { confirm: "This will generate a new schedule, which will overwrite the old one. Are you sure you want to proceed?" }, class: "btn btn-large btn-primary" %>

    </div>
  
  <div class="generateScheduleButton_2">
	<%= button_to "Modify Uploaded File", edit_allfile_path(:id), :method => "get", class: "btn btn-large btn-primary" %>
  </div>
</div>
<% else %>
<div class="center">
  <%= button_to "Modify Uploaded File", edit_allfile_path(:id), :method => "get", class: "btn btn-large btn-primary" %>
</div>
<% end %>

<% if flash[:success] == ("File uploaded" || "File updated") %>
<% end %>