<div class="center">

	<h2>Manage Schedule</h2>
	<h3>
		<%= link_to "Pools", showpool_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Jobs", showjob_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Job Pools", showjobpool_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Join Pool", showstaff_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Contracts", showcontract_path, class: "btn btn-large btn-primary" %>
	</h3>
	
</div>




