<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<% provide(:title, "Job Information") %>

<h1>Job Information</h1>
<p><%= @schedule_msg %></p>

<% if @current_event != nil %>
  <%= raw(event_calendar) %>

  <% @event_strips %>
  
  <% if @flag == true %>
    <br>
    <h3>Detailed Information</h3><br><br>
    <p>
    <% allEvents = Event.scoped(:conditions => ["(user_id == #{@single_event.user_id})"], :order => "#{Event.start_at_field} ASC") %>
    <% for element in allEvents %>
      <% event_date_start, event_time_start = parseTime element.start_at.to_s %>
  	  <% event_date_end, event_time_end = parseTime element.end_at.to_s %>
      <% if event_date_start == event_date_end %>
	    <%= event_date_end %><br>
	  <% else %>
	  <h4><%= event_date_start %> to <%= event_date_end %></h4>
	  <% end %>
	  Time: <%= event_time_start %> to <%= event_time_end %><br><br>

    <% end %>
    <br>
    </p>
  <% end %>
<% end %>