<h1>Assign Pools</h1>

<% current_user %>
<%= render 'shared/error_messages_jobpool' %>
<div class="row">
  <div class="span6 offset3">
	<%= form_for(@jobpool) do |f| %>
	  
		<% @job_list = Department.find_by_name(session[:dept_name].downcase).jobs %>
		<%= f.label :job_id, "Select Job" %>
		<%= f.select(:job_id, @job_list.collect{|j| [ j.name.capitalize, j.id]}, {prompt: '-Select Job'}, {:style => "width:150px; height:40px;"}) %>
		
		<% @pool_list = Pool.where(:department_id => Department.find_by_name(session[:dept_name].downcase).id) %>
		<%= f.label :pool_id, "Select Pools that belong to this Job" %>
		
		<%= select_tag "jobpool[pool_id][]", options_for_select(@pool_list.collect{|p| [ p.name.capitalize, p.id]}), :size => 5, :multiple => true %>
		<%= f.submit "Update Jobpool", class: "btn btn-large btn-primary" %>
	  
	<% end %>
  </div>
</div>