<h1>Manage Jobpools</h1>
<% current_user %>
<h4><font size="3">Listing of Job Pool Relations in <font color="blue"><%= session[:dept_name] %></font></font></h4><br><br>

<% getPool session[:dept_name] %>

  <% for record in @poolRecords do %>
	<% record.id %>

    <% @poolRecord = Pool.find_by_id(record.id) %>
	
	<h4><b>Jobs Belonging to Pool <%= record.name.upcase %>: </b></h4><br>
	
	<% getJobpool record.id %>
	<% for jobpoolRecord in @jobpoolRecords do %>

	  <p1><%= (Job.find_by_id(jobpoolRecord.job_id)).name.upcase %></p1>
	  
	  
	  <%= form_for jobpoolRecord do |f| %>
        <%= f.hidden_field 'my_variable', :value => jobpoolRecord.id %>
		  
	    <span class="buttonLayoutjobPool">
          <span class="userjobPool1">
	        <%= link_to "Delete", jobpoolRecord, method: :delete, class: "btn btn-large btn-secondary", confirm: "You Sure?" %>
	      </span>
	  
          <span class="userjobPool2">
            <%= submit_tag "Edit Jobpool", :name => "Update Jobpool", class: "btn btn-large btn-secondary" %>
	      </span>
	    </span>
      <% end %><br><br><br>
	
	
    <% end %>






  <% end %><br>


    <%  %>
	<%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>



<%= link_to "Create New Jobpool", newjobpool_path, :method => "get", class: "btn btn-large btn-primary" %>
<%= link_to "Manage Pools", showpool_path, :method => "get", class: "btn btn-large btn-primary" %>
<%= link_to "Manage Jobs", showjob_path, :method => "get", class: "btn btn-large btn-primary" %>

<%  %>
<%  %>
<%  %>
<%  %>
<%  %>

