<h1>Create New Shift</h1>

<% current_user %>
<%= render 'shared/error_messages_timetable' %>

<div class="row">
  <div class="span6 offset3">
	<%= form_for(@timetable) do |f| %>
	<% @job_list = Department.find_by_name(session[:dept_name].downcase).jobs %>
	<%= f.label :job_id, "Select Job" %>
	<%= f.select(:job_id, @job_list.collect{|j| [ j.name.capitalize, j.id]}, {prompt: '-Select Job'}, {:style => "width:150px; height:40px;"}) %>
	 
	<%= f.label :begin_time, "Shift start time" %>
	<%= f.datetime_select(:begin_time, {}, {:style => "width:110px; height:40px;"}) %>
	<br><br>
	
	<%= f.label :end_time, "Shift end time" %>
	<%= f.datetime_select(:end_time, {}, {:style => "width:110px; height:40px;"}) %>
	<br>
	  
	<%= f.label :info, "Information" %>
    <%= f.text_field :info %>
	<br>
	
	
	
	<%= f.submit "Edit timetable", class: "btn btn-large btn-primary" %>
	  
	<% end %>
  </div>
</div>