<h1>Manage Contract</h1>
<% current_user %>

<% getUserContract @current_user %>

<% if @contract_msgs != nil %>
  <p><%= @contract_msgs %></p>
<% else %><h4>
  <% @contract_recs %>
  <% n = 1 %>
  <% for record in @contract_recs do %>
	<% record.id %>

    <% @contractRecord = Contract.find_by_id(record.id) %>

    <%  %>

    <h4>Contract <%= n %>: </h4><p1>Start at - <%= record.begin_time %>, End at - <%= record.end_time %></p1>
	<%= form_for record do |f| %>
      <%= f.hidden_field 'my_variable', :value => record.id %>

      <% submit_tag "Edit Contract", :name => "Update Contract", class: "btn btn-large btn-secondary" %>
	  
	  
	<div class="buttonLayoutPool">
      <div class="userPool1">
	      <%= link_to "Delete", record, method: :delete, class: "btn btn-large btn-secondary", confirm: "You Sure?" %>
	  </div>
	  
      <div class="userPool2">
          <%= submit_tag "Edit Contract", :name => "Update Contract", class: "btn btn-large btn-secondary" %>
	  </div>
	</div>

    <% end %><div><br><br>
	<%  %>
    <%  %>
	<%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <%  %>
    <% n = n + 1 %>
  <% end %>

<% end %><br>

<%= button_to "New Contract", newcontract_path, :method => "get", class: "btn btn-large btn-primary" %>

<%  %>
<%  %>
<%  %>
<%  %>
<%  %>

